* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav__barprincipal {
  display: grid;
  justify-content: center;
  list-style: none;
}
.body {
  background: rgb(3, 97, 141);
  
}

nav{
  display:flex;
  justify-content: center;
}

.nav__link {
  color: black;
  display: grid;
  justify-content: center;
  list-style: none;
}
li {
  display: inline-block;
  border: solid;
  list-style: none;
  border-radius: 2rem;
  padding: 0.6rem;
  margin: 0.5rem;
}
.carousel-item{
  max-width: 100%;
  max-height: 100%;
}

.img__fondo{
  animation: from-right 6s ease;
  width: 200px;
  height: 130px;
  border: solid;
  border-radius: 45rem 40rem 40rem 45rem;
}
.card-group {
  border: solid;
}
.card-body {
  border: double;
  background-color: rgb(3, 97, 141);
}
.card-img-top {
  width: 20rem;
  height: 20rem;
}

.carousel-item {
  height: max-content;
  width: max-content;
}

.card {
  display: flex;
  justify-content: center;
 align-items: stretch;
}


@keyframes from-right{
  0%{
    opacity: 0;
    transform: translateX(80px);
  }
100% {
 opacity: 1;
 transform: translateX(0px);
}
}

